<div class="mdl-layout mdl-js-layout">

    <app-menu></app-menu>

    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="inner-outlet">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--1-col"></div>
                    <div class="mdl-cell mdl-cell--10-col">
                        <router-outlet></router-outlet>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col"></div>
                </div>
            </div>
        </div>
    </main>
</div>