a {
    text-decoration: none;
}

.cl-nav-ico {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.cl-nav-bar {
    background: #474444;
    height: 36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 12px;
    margin-top: 0px;
    z-index: 1000;
}

.cl-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cl-drawer-menu {
    position: fixed;
    top: 0;
    left: -400px;
    height: 100%;
    width: 300px;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.cl-drawer-menu-header {
    top: 0;
    height: 240px;
    background-color: #474444;
    width: inherit;
}

.cl-drawer-menu-content {
    background-color: #fff;
    height: auto;
    width: auto;
}

.cl-drawer-menu-header-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 16px;
}

.cl-drawer-menu-header-content {
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
}

.cl-avatar-ico {
    height: 112px;
    width: 112px;
    cursor: pointer;
}

.cl-content {
    height: 100%;
    width: 100%;
    z-index: 500;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 0px
}

.label-primary-light {
    margin-top: 16px;
    font-family: 'Roboto Light', sans-serif;
    font-size: 16px;
    opacity: 0.9;
    color: #fff;
}

.label-secondary-light {
    font-family: 'Roboto Medium', sans-serif;
    margin-top: 6px;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
}

.label-primary-dark {
    margin-top: 16px;
    font-family: 'Roboto Light', sans-serif;
    font-size: 16px;
    color: #474444;
}

.label-secondary-dark {
    font-family: 'Roboto Medium', sans-serif;
    margin-top: 6px;
    font-size: 12px;
    color: #474444;
}

.label-menu-dark {
    font-family: 'Roboto', sans-serif;
    margin-top: 6px;
    font-size: 16px;
    color: #474444;
}

.cl-action-icon-right {
    cursor: pointer;
}